
@{
}

 <head>
     
    
       Competências e abilidades
    
</head>
 <p>
     Sistemas operacionais windows, MacOS e Linux. <br />

     Experiência com hardware. <br />

     Pacote office intermediário. <br />

     

</p> 

        