@page
@model MeuSiteEmMVC.Views.Home.DownloadModel
@{
}
<head>Baixar curriculo</head>
<h1> <a href="https://drive.google.com/file/d/1RgLufxwNFZ1cwIWSniS858RBqv3YDhk1/view?usp=share_link">Clique aqui</a></h1>