@{

}


<p>
    <strong>Empresa confiar serviços</strong>  <br />

    Aux. de Serviços Gerais.
    <br /><br />
    Tahto
    <br /><br />
    Agente de call center televendas. <br />

    Experiência com atendimento ao cliente por telefone e chat. <br />

    <br />
    Pacote office intermediário.  <br />
    <br />
    AGOPA  <br />

    Abertura e conferência de amostras para análise.
</p>
<br />