@{
    ViewData["Title"] = "Contato de Igor";
}

<div class=
    <h1 class="display-4">Infomações e contato</h1>
    
</div>
<p>
    Data de Nascimento: 29/05/2002 <br/>

    Endereço: Av.Hilario Sebastião de Figueredo, Quadra: 03; Lote: 04; Bairro: Santo Hilário, Goiânia-GO – CEP:74780-250. <br/>

    Telefone: (62) 99194-8946 (Contato por Aplicativo de mensagens)<br/>

    Estado Civil: Solteiro <br/>

    E-mail: igorlourenco2002@gmail.com
    <a href=https://www.linkedin.com/in/igor-louren%C3%A7o>linkedin</a>
     
</p>