@{
    ViewData["Title"] = "Formação";
}


<p>Ensino Médio completo. <br/>

    Pacote office Intermediario. <br />

Tec. em Análise e Desenvolvimento de Sistemas - Superior Tecnólogo - Instituição de ensino: UNICESUMAR. (Cursando) </p>
<br />